.nav-text{
    text-align: end;
}

.header-container{
    justify-content: space-around;
    
}
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Change as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}



.navbar a {
    color: #fff; /* Text color */
    text-decoration: none;
    margin-right: 20px; /* Adjust spacing between links as needed */
}


