.nav-text{
    text-align: end;
}
.container-fluid{
    height: 70px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.head-right{
    text-align: center;
    padding: 30px;
    height: 300px;
    width: 500px;
    border-radius: 0 20px 20px 20px;
}
.head-left{
    display: block;
    margin: 0 auto;
}
.head-img{
    height: 300px;
    border-radius: 20px;
}
.car-btn{
    text-align: center;
}
.btn-car{
    border: 1px solid #ffc107;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    height: 40px;
    margin: 10px 50px;
    margin-top: 50px;
}
.btn-car:hover{
    background-color: #ffc107;
    color: white;
    transition: 0.5s;
}
.car-img{
    display: block;
    margin: 30px auto;
    height: 300px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 300px;
    padding: 15px;
    text-align: center;
    margin: 10px;
}
.card-icon{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.card-head{
    font-weight: bold;
    margin-top: 10px;
}
.section{
    margin-top: 100px;
}
.section-content{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-size: 20px;
}
.ph-img{
    height: 450px;
    margin-right: 300px;
}
.steps-icon{
    height: 40px;
}
